@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Great+Vibes&family=Nunito:wght@500&family=Poppins:wght@200;300;400&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #C1D1FD;
}
.hero_game{
    height: 100vh;
}

/* login page */
.info{
    box-shadow: 0px 0px 4px 0px gray;
    padding: 20px;
}
.sign{
    color: white;
}
.input{
    margin: 20px;
    width: 80%;
}
.label{
    margin-left: 5vh;
}
.query{
    margin-left: -25px;
}
.signIn{
    width: 200px;
}
