<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.css">
    <title>Jworld</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>JW</h1>
        </div>
        <div class="hero_section">
            <div class="row">
                <div class="col-md-5">
                    <h1 style="font-weight: bolder;font-size: 40px;color: #F06BAE;">Tips for playing online games.</h1>
                    <div class="list">
                        <ul>
                            <li>Identify what you are losing by playing games</li>
                            <li>Think of something you really want to work towards</li>
                            <li>Schedule your day for balance</li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <img class="img-fluid" src="../static/Images/cartoon-removebg-preview.png" alt="">
                        </div>
                        <div class="col-md-6">
                            <h4 style="font-weight: bold;">Best Online gaming platform</h4>
                            <p>Get the gaming experience that lets you play the way you want,
                                wherever you are,however you like.</p>
                            <button type="button" style="background: #4A84E7;color: white;" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Sign Up</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <img class="img-fluid" src="../static/Images/gaming-removebg-preview.png" alt="gamepad">
                </div>
            </div>
        </div>
    
        <!-- modal section -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('home_page') }}" method="POST">
                            {{ form.hidden_tag() }}
    
                            {{ form.username.label() }}
                            {{ form.username(class='form-control',placeholder='User Name...') }}
    
                            {{ form.email.label() }}
                            {{ form.email(class='form-control',placeholder='Enter Email...') }}
    
                            {{ form.password1.label() }}
                            {{ form.password1(class='form-control',placeholder='Password...') }}
    
                            {{ form.password2.label() }}
                            {{ form.password2(class='form-control',placeholder='Confirm password...') }}
                            <br>
    
                    </div>
                    <div class="modal-footer">
                        {{ form.submit(class="btn btn-primary mb-4", style="margin-left: 8vh;")}}
                        <!-- <button type="button" class="btn btn-primary" data-bs-dismiss="modal" style="background: #4A84E7;color: white;">Close</button> -->
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of modal section -->
    </div>
</body>

</html>